*{
    padding:0;
    margin:0;
}
html,body{
    justify-content: center;
    text-align: center;
    align-items: center;
    margin: 0 auto;
}
h3{
    margin-top: 15px;
}

td{
    border: 1px solid black;
}
table{
    display: flex;
    max-width: 500px;
    margin-top: 20px;
}
td{
    width: 500px;
    height: 70px;
}
td input{
    width: 60px;
}
tr{
    justify-content: start;
    align-items: flex-start;
}
div{
    margin: 0 auto;
    width: 500px;
    justify-content: center;

}
#ok{
    margin-top: 20px;
    margin-top: 10px;
    width: 80px;
    height: 50px;
    background: blue;
    color: white;
}





